<app-account>Chargement...</app-account>
<div class="alert alert-danger" *ngIf="!collection">
  Une erreur est survenue, veuillez réessayer plus tard !
</div>
<h1 *ngIf="collection">Liste de la collection</h1>
<div class="container">
  <div class="row">
    <div class="card col-3 offset-1 mb-2" *ngFor="let livre of collection">
      <div class="card-body">
        <h5 class="card-title"><a href="/detail/{{livre.id}}">{{livre.nom}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{livre.auteur}}</h6>
        <p class=", QUANTITE">{{livre.resume}}</p>
        <p class="card-text">{{livre.maisonEdition.nom}}</p>
        <p class="card-text">{{livre.quantite}} exemplaires restants</p>
        <div class="mb-0 text-right">
          <button class="btn btn-primary" *ngIf="livre.quantite > 0" (click)="addToPanier()">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </div>
</div>
