<div class="alert alert-danger" *ngIf="error">Une erreur s'est produite, merci de vérifier les informations saisies</div>

<form method="post" [formGroup]="signinForm" (ngSubmit)="Submit()">
  <div class="form-group">
    <label for="username">Username :</label>
    <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" name="username"
           formControlName="username">
  </div>
  <div class="form-group">
    <label for="email">email :</label>
    <input type="email" class="form-control" id="email" placeholder="Votre email" name="email"
           formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Password :</label>
    <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password"
           formControlName="password">
  </div>
  <div class="form-group">
    <label for="checkPassword">Vérification du mot de passe : </label>
    <input type="password" class="form-control" id="checkPassword" placeholder="Mot de passe" name="checkPassword"
           formControlName="checkPassword">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="signinForm.invalid">Se connecter</button>
</form>
