<app-account></app-account>
<div class="container" *ngIf="collection">
  <div class="row">
    <div class="card col-12 mb-2" *ngFor="let livre of collection">
      <div class="card-body row">
        <div class="col-8">
          <h5 class="card-title"><a href="/detail/{{livre.id}}">{{livre.nom}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{livre.auteur}}</h6>
        </div>
        <div class="col-4 text-right">
          <button class="btn btn-primary" *ngIf="livre.quantite > 0" (click)="deleteToPanier(livre)">
            Retirer du panier
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 text-right">
    <button class="btn btn-success" (click)="reserve()" *ngIf="collection.length > 0">Faire la réservation</button>
  </div>
</div>
